{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Detalhe do Produto</h3>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                {{ object.title }}
            </h3>
            <p class="card-text">Marca: <strong>{{ object.brand }}</strong></p>
            <p class="card-text">Categoria: <strong>{{ object.category }}</strong></p>
            <p class="card-text">{{ object.description }}</p>
            <p class="card-text">Número de Serie: <strong>{{ object.serie_number }}</strong></p>
            <p class="card-text">Preço de Custo: <strong>{{ object.cost_price }}</strong></p>
            <p class="card-text">Preço de Venda: <strong>{{ object.selling_price }}</strong></p>
            <p class="card-text">Quantidade em Estoque: <strong>{{ object.quantity }}</strong></p>
        </div>
    </div>
    <a href="{% url 'products-list' %}" class="btn btn-secondary mt-3">Voltar para Lista de Produtos</a>
</div>

{% endblock %}